.goods__wrapper{
    max-width: 1800px;
    margin: auto;
}
.goods__wrapper h1:first-of-type{
    margin-top: 50px;
}
.goods__wrapper h1{
    margin: 0 50px 0 50px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid black;
}
.goods__single-product{
    width: 400px;
    height: 400px;
    margin: 40px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF;
}
#wallbars{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
#treadmil{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
#tennis{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
#tranpoline{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
.goods__product-name{
    margin-top: 20px;
}
.goods__img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.goods__add-btn{
    width: 200px;
    height: 50px;
    background-color: #202020;
    margin: 10px auto;
    color:#F2F2F2;
}
.goods__add-btn:hover{
    background-color: #EE7828;
    transition: all ease-in-out .5s;
}
.goods__add-btn:not(:hover){
    background-color: #202020;
    transition: all ease-in-out .5s;
}