.delivery{
    width: 100%;
    height: 12%;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #F2F2F2;
}
.delivery__info{
    width: 77%;
    height: 100%;
    text-align: center;
}
.delivery__info__item{
    width: 50%;
    height: 20%;
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.delivery img{
    border-radius: 20px;
}